body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}







/* CSS FOR SIGNUP PAGE */

html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #ffffff !important;
		}

		
		.user_card_signup {
			height: 700px;
			width: 500px;
			margin-top: 100px;
			margin-bottom: 100px;
			background: #89b08b;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container_signup {
            position: absolute;
			height: 170px;
			width: 170px;
			top: -55px;
			border-radius: 50%;
			background: white;
			padding: 10px;
			text-align: center;
		}
		.brand_logo_signup {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container_signup {
			margin-top: 100px;
		}
		.signup_btn {
			width: 100%;
			background: #3C5148 !important;
			color: white !important;
		}
		.signup_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.signup_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

/* CSS FOR LOGIN PAGE */
		.user_card_login {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #89b08b;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container_login {
            position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: white;
			padding: 10px;
			text-align: center;
		}
		.brand_logo_login {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
			background-color: white
		}
		.form_container_login {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #3C5148 !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user_login,
		.input_pass_login:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: red!important;
		}

/* CSS for Landing Page */
#landing-logo {
	margin: auto;
}

#landing-container {
	margin: auto;
	text-align: center;
	padding: 25px;
}

#landing-logo {
	width: 250px;
}

#landing-container h1 {
	color: rgb(23,145,255);
	font-weight: bolder;
	font-size: 8em;
	margin-bottom: 0px;
}

#landing-container h2 {
	text-transform: uppercase;
	font-size: 1.75em;
	letter-spacing: .5em;
	margin-top: 5%;
	margin-bottom: 15px;
	color: rgb(63,1,181);
}

#landing-container h3 {
	font-size: 1.75em;
	font-style: italic;
	letter-spacing: .05em;
	margin-top: 15px;
	margin-bottom: 15px;
}

#landing-container button {
	background-color: rgb(63,1,181);
	margin-bottom: 15px;
}

#landing-container a + a {
	display: block;
	margin-bottom: 50px;
	color: initial;
}

.authBtn {
	margin-top: 2%;
	justify-content: center;
	margin-right: 5%;
	background-color: rgb(63,1,181);
}

.addToSlackBtn {
	margin-top: 2%;
	justify-content: center;
	margin-left: 42.5%;
	background-color: rgb(63,1,181);

}

.registerBtn {
	margin-top: 2%;
	justify-content: center;
}

.slackBtn {
	justify-content: center;
	margin-left: 43%;
	margin-top: 5%;
}

.slackContainer {
	text-transform: uppercase;
	justify-content: center;
	font-size: 1.75em;
	letter-spacing: .5em;
	margin-top: 10%;
	margin-bottom: 15px;
	margin-left: 10%;
	color: rgb(63,1,181);
}

.addToSlack {
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: .5em;
	margin-top: 5%;
	margin-left: 15%;
	margin-bottom: 15px;
	color: rgb(63,1,181);
}

.addToSlackButton {
	justify-content: center;
	margin-left: 42.5%;
	margin-top: 5%;
}

.addToSlackParagraph {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-size: x-large;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* SmartKey Section */

.smartHeader {
	margin-top: 10%;
	margin-left: 15%;

}

@media screen and (max-width: 625px) {
	#landing-container h1 {
		font-size: 4.5em;
	}
	#landing-logo {
		width: 150px;
	}
	#landing-container h2 {
		font-size: 1em;
	}
	#landing-container h3 {
		font-size: 1.25em;
	}
}